/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.ContactsData
import io.swagger.client.model.CustomersData
import io.swagger.client.model.Manufacturer
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object EsbOrdersApi {

  /**
   * Adds an item to the system
   * 
   * Expected answers:
   *   code 201 :  (item created)
   *   code 400 :  (invalid input, object invalid)
   *   code 409 :  (an existing item already exists)
   * 
   * @param inventoryItem Inventory item to add
   */
  def changeMsisdn(inventoryItem: Option[Manufacturer] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/JoaoFlorindo/ExampleService/1.0.0", "/orderService/changeMsisdn", "application/json")
      .withBody(inventoryItem)
      .withSuccessResponse[Unit](201)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](409)
        /**
   * Adds an item to the system
   * 
   * Expected answers:
   *   code 201 :  (item created)
   *   code 400 :  (invalid input, object invalid)
   *   code 409 :  (an existing item already exists)
   * 
   * @param inventoryItem Inventory item to add
   */
  def newAccount(inventoryItem: Option[Manufacturer] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/JoaoFlorindo/ExampleService/1.0.0", "/orderService/newAccount", "application/json")
      .withBody(inventoryItem)
      .withSuccessResponse[Unit](201)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](409)
        /**
   * Adds an item to the system
   * 
   * Expected answers:
   *   code 201 :  (item created)
   *   code 400 :  (invalid input, object invalid)
   *   code 409 :  (an existing item already exists)
   * 
   * @param inventoryItem Inventory item to add
   */
  def newAccountRelationship(inventoryItem: Option[Manufacturer] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/JoaoFlorindo/ExampleService/1.0.0", "/orderService/newAccountRelationship", "application/json")
      .withBody(inventoryItem)
      .withSuccessResponse[Unit](201)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](409)
        /**
   * A contact is created on Cerillion for each element present in the submission. 
   * 
   * Expected answers:
   *   code 200 :  (Contact was successfuly created)
   *   code 400 :  (bad input parameter)
   *   code 500 :  (internal error)
   * 
   * @param inventoryItem Inventory item to add
   */
  def newContact(inventoryItem: Option[ContactsData] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/JoaoFlorindo/ExampleService/1.0.0", "/orderService/newContact", "application/json")
      .withBody(inventoryItem)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](500)
        /**
   * A customer is created on Cerillion for each element present in the submission. 
   * 
   * Expected answers:
   *   code 200 :  (Customer was successfuly created)
   *   code 400 :  (bad input parameter)
   *   code 500 :  (internal error)
   * 
   * @param customersData Detailed information of customer
   */
  def newCustomer(customersData: Option[CustomersData] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/JoaoFlorindo/ExampleService/1.0.0", "/orderService/newCustomer", "application/json")
      .withBody(customersData)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](500)
        /**
   * Adds an item to the system
   * 
   * Expected answers:
   *   code 201 :  (item created)
   *   code 400 :  (invalid input, object invalid)
   *   code 409 :  (an existing item already exists)
   * 
   * @param inventoryItem Inventory item to add
   */
  def provideOrder(inventoryItem: Option[Manufacturer] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/JoaoFlorindo/ExampleService/1.0.0", "/orderService/provideOrder", "application/json")
      .withBody(inventoryItem)
      .withSuccessResponse[Unit](201)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](409)
        /**
   * Adds an item to the system
   * 
   * Expected answers:
   *   code 201 :  (item created)
   *   code 400 :  (invalid input, object invalid)
   *   code 409 :  (an existing item already exists)
   * 
   * @param inventoryItem Inventory item to add
   */
  def terminateAditionalService(inventoryItem: Option[Manufacturer] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/JoaoFlorindo/ExampleService/1.0.0", "/orderService/terminateAditionalService", "application/json")
      .withBody(inventoryItem)
      .withSuccessResponse[Unit](201)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](409)
      

}

